.header {
  &__container {
    padding: 2.5em 0;
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
  }

  &__logo {
    img {
      width: 370px;
    }
  }

  &__nav {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-left: 30px;
    }

    a {
      color: $text-color-main;
      padding-bottom: 3px;
      font-size: 1rem;
      font-family: $sans-serif-medium;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $color-a;
        border-bottom: 2px solid $color-a;
      }
    }
  }
}