main {
  overflow: hidden;
}

.site {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url('../img/bg-main.svg');
  background-repeat: no-repeat;
  background-size: contain;

  &__content {    
    flex: 1;
  }
}

section {
  padding: $section-padding 0;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

