// Font Stack
$sans-serif-main: 'Quicksand-Regular', Helvetica, Arial, sans-serif;
$sans-serif-light: 'Quicksand-Light', Helvetica, Arial, sans-serif;
$sans-serif-medium: 'Quicksand-Medium', Helvetica, Arial, sans-serif;
$sans-serif-bold: 'Quicksand-Bold', Helvetica, Arial, sans-serif;

// Colors
$color-a: #67837e;
$color-b: #db886c;
$color-c: white;
$color-d: white;

$text-color-main: #000000;
$text-color-light: #aaaaaa;
$text-color-mid: #777777;

// Grays
$gray-light-1: #efefef;
$gray-light-2: #b4c5cf;

// Layout
$container-width: 90%;
$container-max-width: 1120px;
$section-padding: 40px;
$container-small-max-width: 840px;
$viewport-switch: calc(#{$container-max-width}/.9);

// Keyframes
@keyframes fade-in-1 {   
  0% {     
    opacity: 0;   
  }    
  100% {
    opacity: 1;
  }
}