.hero {
  &__heading {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  &__content-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 92%;
    margin: 0 auto;
  }

  &__video-wrap {
    width: 46%;
    position: relative;
    border: 18px solid $color-e;
    border-radius: 18px;
    position: relative;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video-button {
    position: absolute;
    top: -20px;
    height: 2px;
    width: 24px;
    background: $color-e;
    border-radius: 5px 5px 0 0;
    
    &--a {
      left: 10px;
    }

    &--b {
      left: 36px;
    }
  }

  &__content {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 1.45rem;
      line-height: 1.25;
    }
  }

  &__tagline {
    font-size: 1.45rem;
    font-family: $sans-serif-bold;
    padding-bottom: 1.85rem;
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn-note {
    margin-left: 40px;
    font-size: .75rem;
  }
}

.cta-block {
  margin-top: 3rem;

  &__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 88%;
    margin: 0 auto;
  }

  &__content {
    width: 46%;
    text-align: center;

    img {
      width: 105px;
      margin: 0 auto 30px;
      height: 116px;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 1rem;
    }

    p {
      padding-bottom: 2rem;
    }
  }
}